page-about {
	.content{
    color: #FFF;
    background-color: color($colors, primary, secondary);
	}

	.toolbar-background {
    border-color: color($colors, primary);
    background: color($colors, secondary);
	}
}
