page-dashboard {

	.menu-content{
		background: #FCFCFC;
	}

	ion-slides {
		width: 100%;
	}

	.text-right{
		float: right;
	}

	.text-left{
		float: left;
	}

	.swiper-slide{
		height: auto !important;
	}

	.swiper-slide img {
  	margin: auto;
  	display: block;
		border: 1px solid color($colors, secondary);
	}
}
