<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Profile
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile-content">
	<ion-list>
		<form #form="ngForm" [formGroup]="userForm">
			<p *ngIf="submitUserAttempt && !userForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>
			<ion-card>
				<ion-item-divider color="primary">User Information</ion-item-divider>
				<ion-item>
					<ion-label floating>First Name</ion-label>
					<ion-input formControlName="firstName" type="text" [class.error]="!userForm.controls.firstName.valid && (userForm.controls.firstName.dirty || submitUserAttempt)"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>Last Name</ion-label>
					<ion-input formControlName="lastName" type="text" [class.error]="!userForm.controls.lastName.valid && (userForm.controls.lastName.dirty || submitUserAttempt)"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>Email</ion-label>
					<ion-input formControlName="email" type="email" (blur)="onEmailChange($event.target.value)" [class.error]="!userForm.controls.email.valid && (userForm.controls.email.dirty || submitUserAttempt)"></ion-input>
				</ion-item>
				<ion-item *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || submitUserAttempt)">
						<p style="color: #ea6153;">This email is already in use, please choose another.</p>
				</ion-item>
				<ion-item>
					<ion-label floating>Gender</ion-label>
						<ion-select formControlName="gender" tabindex="-7" [class.error]="!userForm.controls.gender.valid && (submitUserAttempt)">
							<ion-option value="M" checked="true">Male</ion-option>
							<ion-option value="F">Female</ion-option>
              <ion-option value="C">Couples</ion-option>
						</ion-select>
				</ion-item>
				<ion-item>
					<ion-label floating>Country</ion-label>
						<ion-select formControlName="country" tabindex="-8" [class.error]="!userForm.controls.country.valid && (userForm.controls.country.dirty || submitUserAttempt)">
							<ion-option *ngFor="let item of countryList" [value]="item.alpha2">{{item.name}}</ion-option>
						</ion-select>
				</ion-item>
        <ion-item-divider color="primary">Security Options</ion-item-divider>
        <ion-item>
    				<ion-card-header class="wrapper">Would you like other members to rate your profile?</ion-card-header>
    				<ion-card-content class="wrapper">
    					<p><strong>Note</strong>: Turning off this feature will not allow other members to rate your profile.</p>
    					<ion-item>
    						<ion-toggle formControlName="rating" tabindex="-16"></ion-toggle>
    					</ion-item>
    				</ion-card-content>
    				<ion-card-header class="wrapper">Would you like other members to see your average rating?</ion-card-header>
    				<ion-card-content class="wrapper"t>
    					<p><strong>Note</strong>: Turning off this feature will not allow other members to see your average rating.</p>
    					<ion-item>
    						<ion-toggle formControlName="visiableRate" tabindex="-17"></ion-toggle>
    					</ion-item>
    				</ion-card-content>
    				<ion-card-header class="wrapper">Do you want to be seen in your country?</ion-card-header>
    				<ion-card-content class="wrapper">
    					<p><strong>Note</strong>: Turning off this feature will not allow other members to view your profile in your country.</p>
    					<ion-item>
    						<ion-toggle formControlName="hidden" tabindex="-18"></ion-toggle>
    					</ion-item>
    				</ion-card-content>
        </ion-item>
        <button ion-button full color="secondary" (click)="saveUser()">Save <ion-icon padding name="checkmark-circle-outline"></ion-icon></button>
			</ion-card>
		</form>
	</ion-list>
	<ion-list>
		<form #form="ngForm" [formGroup]="passwordForm">
			<p *ngIf="submitPassAttempt && !passwordForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>
			<ion-card>
				<ion-item-divider color="primary">Change Password</ion-item-divider>
				<ion-item>
					<ion-label floating>Old Password</ion-label>
					<ion-input formControlName="oldPassword" type="password" [class.error]="!passwordForm.controls.oldPassword.valid && (passwordForm.controls.oldPassword.dirty || submitPassAttempt)"></ion-input>
				</ion-item>
				<div [formGroup]="passwordForm.controls.newPasswords">
					<ion-item>
						<ion-label floating>New Password</ion-label>
						<ion-input formControlName="firstPass" type="password" [class.error]="!passwordForm.controls.newPasswords.controls.firstPass.valid && (passwordForm.controls.newPasswords.controls.firstPass.dirty || submitPassAttempt)"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Confirm Password</ion-label>
						<ion-input formControlName="secondPass" type="password" [class.error]="!passwordForm.controls.newPasswords.controls.secondPass.valid && (passwordForm.controls.newPasswords.controls.secondPass.dirty || submitPassAttempt)"></ion-input>
					</ion-item>
					<ion-item class="error" *ngIf="!passwordForm.controls.newPasswords.valid && (passwordForm.controls.newPasswords.dirty || submitPassAttempt)">
						<p style="color: #ea6153;">Passwords do not match, please try again</p>
					</ion-item>
				</div>
        <button ion-button full color="secondary" (click)="savePassword()">Save <ion-icon padding name="checkmark-circle-outline"></ion-icon></button>
			</ion-card>
		</form>
	</ion-list>
  <ion-list>
    <ion-card>
      <ion-grid>
      <ion-row wrap>
        <ion-col width-50 *ngFor="let image of imgSrc; let i=index">
          <ion-card color="primary">
						<img *ngIf="!image.imageBase64 == '' " [src]="image.imageBase64">
						<img *ngIf="image.imageBase64 == '' " src="../../assets/img/defaultImage.gif">
						<ion-card-content>
							<button ion-button full *ngIf="image.imageBase64 == '' " ion-button color="secondary" (click)="addImage(i)" tabindex="-14"><ion-icon name="camera"></ion-icon>Add</button>
							<button ion-button full *ngIf="!image.imageBase64 == '' " ion-button color="secondary" (click)="removeImage(i)" tabindex="-15"><ion-icon name="close"></ion-icon>Remove</button>
						</ion-card-content>
          </ion-card>
        </ion-col>
				    <input type="file" name="file" accept="image/*" style="display: none" (change)="fileChangeEvent($event)" #input>
        </ion-row>
      </ion-grid>
      <button ion-button full color="secondary" (click)="saveImage()">Save <ion-icon padding name="checkmark-circle-outline"></ion-icon></button>
    </ion-card>
  </ion-list>
</ion-content>
