page-register-page {

	.toolbar-background {
		border-color: color($colors, primary);
		background: color($colors, secondary);
	}

	.register-content{
		color: #000000;
    background-color: #FCFCFC;

		ion-slides {
			height: auto;
		}

		.largtext{
			font-size: 50px;
		}

		.logo-row {
			padding-top: 50px;
			padding-bottom: 20px;
		}

		ion-row {
       align-items: center;
       text-align: center;
     }

		.submit-btn{
			background: color($colors, secondary);
		}

		ion-thumbnail img {
			width: 200px;
			height: 200px;
		}

		/* numbered buttons */
		#status-buttons{}

		#status-buttons a{
			color:#000000;
			display:inline-block;
			font-size:80%; margin:1%;
			text-align:center;
			text-transform:uppercase;
		}
		#status-buttons a:hover{
			text-decoration:none;
		}

		/* we will style the span as the circled number */
		#status-buttons span {
			background:#080808;
			display:block;
			height:30px;
			margin:0 auto 10px;
			padding-top:7px; width:30px;
		  border-radius:50%;
			color: #FFF;
		}

		/* active buttons turn light green-blue*/
		#status-buttons a.active span {
			background: color($colors, secondary);
			color: color($colors, primary);
			border: 1px solid color($colors, primary);
		}

		.wrapper{
			white-space: normal;
		}

		.swiper-slide img {
	    width: 100%;
	    height: 100%;
	    max-width: 100%;
	    max-height: 100%;
		}

		.invalid {
			border: 1px solid color($colors, danger);
    }

		.error{
			color: color($colors, danger);
		}
	}
}
