page-favouites {

	.content{
    color: #000000;
    background-color: #F1F1F1;
	}

	ion-slides{
		height: 100%;
	}

	.swiper-slide img {
  	margin: auto;
  	display: block;
	}

	.fab{
		border-radius: 0%;
		width: 36px;
		height: 72px;
		opacity: 0.4;
	}

	ion-fab {
    z-index: 79;
	}

	ion-fab[right] {
    right: 0px;
	}

	ion-fab[left] {
    left: 0px;
	}

	.left{
		border-bottom-left-radius: 72px;
		border-top-left-radius: 72px;
	}
	.right{
		border-bottom-right-radius: 72px;
		border-top-right-radius: 72px;
	}

	.activated{
		opacity: 1;
	}

	@media (min-width: 640px) {
		ion-slides{
			height: auto !important;
		}
	}
}
