page-croping-image {
  canvas{
    width:100%;
    margin: auto;
  	display: block;
		border: 1px solid color($colors, secondary);
  }
	.content{
    color: #000000;
    background-color: #F1F1F1;
	}
}
