<!--
  Generated template for the MemberList component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card>
	<ion-card-header>
		<button *ngIf="!_member.fav" class="text-right" (click)="favourite(_member.profile_id)" ion-button round icon-right small>
			Fav
			<ion-icon name="star"></ion-icon>
		</button>
		<button *ngIf="_member.fav" class="text-right" (click)="notFavourite(_member.profile_id)" ion-button round icon-right small color="secondary">
			Fav
			<ion-icon name="star"></ion-icon>
		</button>
		<span class="text-left">{{_member.countryEmjo}} {{_member.countryName}}</span>
	</ion-card-header>
	<img *ngIf='_member.images.length == 0' src="../../assets/img/defaultImage.gif">
	<ion-slides #imageSlider *ngIf='_member.images.length != 0' direction='horizontal' pager='true' slidesPerView='1' loop='true'>
		<ion-slide *ngFor="let image of _member.images">
			<img src="{{image.imageBase64}}">
		</ion-slide>
	</ion-slides>
  <ion-card-content>
		<ion-item *ngIf="_member.allow_rating">
			<ion-range min="60" max="100" step="1" pin="true" snaps="true" mode='md' debounce='500' (ionChange)="ratingProfile(_member.profile_id)" [(ngModel)]="_member.rating" color="secondary">
				<ion-label range-left small>60</ion-label>
				<ion-label range-right small>100</ion-label>
			</ion-range>
		</ion-item>
		<span class="text-left">Member: {{_member.profile_id}}</span>
		<span *ngIf="_member.visable_rating" class="text-right">{{_member.averageRating}}%</span>
  </ion-card-content>
</ion-card>
