member-list {

	.card {
  	margin: auto;
  	display: block;
		border: 1px solid color($colors, secondary);
	}

	.text-right{
		float: right;
	}

	.text-left{
		float: left;
	}

	ion-icon{
		font-size: 1.5em
	}

}
