<!--
  Generated template for the MemberList component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card>
	<ion-card-header>
		<span margin-horizontal class="text-right more_button" (tap)="presentPopover($event, _member.profile_id)"><ion-icon name="more"></ion-icon></span>
		<ion-chip class="text-right" *ngIf="!_member.fav" color="primary" (tap)="favourite(_member.profile_id)">
			<ion-icon name="star" color="grey"></ion-icon>
			<ion-label>Fav</ion-label>
		</ion-chip>
		<ion-chip class="text-right" *ngIf="_member.fav"color="primary" (tap)="notFavourite(_member.profile_id)">
			<ion-icon name="star" color="secondary"></ion-icon>
			<ion-label>Fav</ion-label>
		</ion-chip>
		<span class="text-left">{{_member.countryEmjo}} {{_member.countryName}}</span>
	</ion-card-header>
	<img *ngIf='_member.images.length == 0' src="assets/img/defaultImage.gif">
	<img *ngIf='_member.images.length == 1' src="{{_member.images[0].imageBase64}}">
	<ion-slides #imageSlider *ngIf='_member.images.length > 1' direction='horizontal' pager='false' slidesPerView='1' loop='true' (ionSlideDrag)='ionSlideDrag()'>
		<ion-slide *ngFor="let image of _member.images">
			<img src="{{image.imageBase64}}">
		</ion-slide>
	</ion-slides>
  <ion-card-content>
		<ion-row class="thumbnail-row" *ngIf='_member.images.length > 1'>
			<ion-col *ngFor="let image of _member.images; let i = index">
				<ion-thumbnail (tap)="changeImage(i+1)">
					<img [ngClass]="{active: currentIndex == i+1}" src="{{image.imageBase64}}">
				</ion-thumbnail>
			</ion-col>
		</ion-row>
		<ion-item *ngIf="_member.allow_rating">
			<ion-range min="60" max="100" step="1" pin="true" snaps="true" mode='md' debounce='500' (ionChange)="ratingProfile(_member.profile_id)" [(ngModel)]="_member.rating" color="primary">
				<ion-label range-left small>60</ion-label>
				<ion-label range-right small>100</ion-label>
			</ion-range>
		</ion-item>
		<span class="text-left">Member: {{_member.profile_id}}</span>
		<span *ngIf="_member.visable_rating" class="text-right">{{_member.averageRating}}%</span>
  </ion-card-content>
</ion-card>
