member-list {

	.card {
		// padding: 10px;
  	// margin: auto;
		bottom: 10px;
  	display: block;
		border: 1px solid color($colors, secondary);
	}

	.text-right{
		float: right;
	}

	.text-left{
		float: left;
	}

	ion-icon{
		font-size: 1.5em
	}

	.swiper-slide img {
		width: 90%;
	}

	.range-md.range-has-pin {
    padding-top: 20px;
	}

	.card-header{
		padding: 5px;
	}
	.card-content{
		padding: 5px 6px 5px 6px;
	}
}
